td, th {
    vertical-align: middle !important;
    text-align: center !important;
}
body{
    padding-top: 120px;
}

nav{
    padding: 10px;
}

.selected {
  color:#23527C;
  font-weight: bold;
  background-color:#EEEEEE;
}

#htmlContainer{
    margin: 0;
}

#leftsidebar{
    height: 100%;
    position: fixed;
    left: 0;
}

#rightsidebar{
    height: 100%;
    position: fixed;
    right: 0;
}