.spacer {
    min-height: 10px;
    background-color: lightgray;
    border-collapse: collapse;
}

td.left-align {
    vertical-align: middle !important;
    text-align: left !important;
    white-space:nowrap;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
    white-space:nowrap;
}

.underutil {
    background-color: #B7B329;
}
.levelutil {
    background-color: #1F8A37;
}
.overutil {
    background-color: #B73629;
}

body{
    padding-top: 120px;
    padding-bottom: 100px;
}

nav{
    padding: 10px;
}

a.selected {
  color:#EEEEEE !important;
  background-color:#23527C !important;
}

a.active{
    color:#EEEEEE;
    font-weight: bold;
    background-color:#23527C;
}
#htmlContainer{
    margin: auto;
}

#verticalLI{
    display: block;
    float: left;
    clear: left;
}

.chart-title{
    text-align:center;
}

.modal-content{
    padding: 5%;
}
.text-help{
    color: red;
}

#navLabel{
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2em;
    color: #222;
}

#projectNavbar{
    margin-bottom: 0;
    border-bottom: none;
}

.navbar-inverse a{
    color:#eee;
}
.navbar-inverse a.selected{
    background-color: #eee !important;
    color: #222 !important;
}

.well{
    border-top: none;
}

li .btn-primary{
    background-color: #222;
    border-color: #222;
    align-content: center;
}

li .btn-primary:hover {
    background-color: #eee !important;
    color: #222 !important;
    border-color: #222 !important;
}

li .btn-primary:focus{
    background-color: #eee !important;
    color: #222 !important;
    border-color: #222 !important;
}

#verticalButton{
    margin-top: 50px;
    margin-right: 10px;
}

form .btn-primary{
    margin-right: 10px;
}

form .btn-danger{
    margin-right: 10px;
}

form select.padded-select {
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn.btn-default.sharp.expcol {
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    background-color: lightgray;
    border-color: darkgray;
}

.btn.btn-default.sharp {
    border-radius: 3px;
    background-color: lightgray;
    border-color: darkgray;
}

.btn.btn-default.sharp:active, .btn.btn-default.sharp:hover {
    background-color: #A0A0A0;
}

.btn-danger-text {
    color: red !important;
}

.danger-text {
    color: red;
    margin-top: 10px;
}

.load-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a.glyphicon-pencil {
    color: black;
    margin-left: 10px;
    font-size: 0.8em;
}

a.glyphicon-remove {
    color: red;
    margin-left: 10px;
    font-size: 0.8em;
}
textarea {
    resize: none;
}