td, th {
    vertical-align: middle !important;
    text-align: center !important;
}
body{
    padding-top: 120px;
}

nav{
    padding: 10px;
}

a.selected {
  color:#EEEEEE !important;
  background-color:#23527C !important;
}

a.active{
    color:#EEEEEE;
    font-weight: bold;
    background-color:#23527C;
}
#htmlContainer{
    margin: auto;
}

#verticalLI{
    display: block;
    float: left;
    clear: left;
}

.chart-title{
    text-align:center;
}

.modal-content{
    padding: 5%;
}
.text-help{
    color: red;
}

#navLabel{
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 2em;
    color: #222;
}

#projectNavbar{
    margin-bottom: 0;
    border-bottom: none;
}

.navbar-inverse a{
    color:#eee;
}
.navbar-inverse a.selected{
    background-color: #eee !important;
    color: #222 !important;
}

.well{
    border-top: none;
}

li .btn-primary{
    background-color: #222;
    border-color: #222;
    align-content: center;
}

li .btn-primary:hover {
    background-color: #eee !important;
    color: #222 !important;
    border-color: #222 !important;
}

li .btn-primary:focus{
    background-color: #eee !important;
    color: #222 !important;
    border-color: #222 !important;
}

#verticalButton{
    margin-top: 50px;
    margin-right: 10px;
}

form .btn-primary{
    margin-right: 10px;
}

form select{
    margin-top: 20px;
    margin-bottom: 40px;
}